*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/.idea/caches/build_file_checksums.ser

.DS_Store
/build
/captures
.externalNativeBuild
