<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shaimaaderbaz.orthoclinic">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:name=".OrthoClinic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name=".activities.PatientProfileActivity"
            android:label="@string/title_activity_patient_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ContactUsActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_patient_list"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".activities.EditItemActivity"
            android:label="@string/title_activity_edit"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.EditOperationActivity"
            android:label="@string/title_activity_edit"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>